# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java电商讲师源代码\v0z6xp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
